/**extra extra large device css start**/
@media (min-width: 1400px) {
    * {
      word-wrap: break-word;
    }
  
  }
  
  /**extra extra large device css end**/
  /**extra large device css start**/
  @media (min-width: 1200px) and (max-width: 1399.99px) {
    * {
      word-wrap: break-word;
    }
    
  }
  /**extra large device css end**/
  /**large device css start**/
  @media (min-width: 992px) and (max-width: 1199.99px) {
    * {
      word-wrap: break-word;
    }
    .banner-content{

      top: 35%!important;
  }
    .banner-heading span{

      line-height:85px!important;
  }
  .banner-heading span:nth-child(1){
      font-weight: 400!important;
      font-size: 65px!important;
      word-spacing:2px!important;
  }
  .banner-heading span:nth-child(2){
      font-weight: 500!important;
      font-size: 85px!important;
  }
  .banner-heading span:nth-child(3){
      font-weight: 300!important;
      font-size:50px!important;
      word-spacing: 1!important;
  }
  .menu li a{
    margin: 0 2px!important;
   
    font-weight: 400!important;
  
    font-size:14px!important;
   
}

   
  }
  /**large device css end**/
  
  /**medium device css start**/
  @media (min-width: 768px) and (max-width: 991.99px) {
    * {
      word-wrap: break-word;
    }

    .being-dreamcast, .we-do, .our-team {
        padding: 5px 0;
    }
    .banner-content{

      top: 35%!important;
  }
    .banner-heading span{

      line-height:70px!important;
  }
  .banner-heading span:nth-child(1){
      font-weight: 400!important;
      font-size: 55px!important;
      word-spacing:2px!important;
  }
  .banner-heading span:nth-child(2){
      font-weight: 500!important;
      font-size: 65px!important;
  }
  .banner-heading span:nth-child(3){
      font-weight: 300!important;
      font-size:45px!important;
      word-spacing: 1!important;
  }
  
  .line{
    margin: 6px auto!important;
  }
  .c-title{
    font-size: 18px!important;
}
.c-line{
    width: 140px !important;;
    height: 2px!important;
    margin:15px auto!important;
}
.c-btn{
    border: 2px solid white!important;
    padding: 5px 15px!important;
    font-size: 14px!important;
}
.contact-section{
  padding:20px 0!important;
}
.contact-card {
  padding: 15px!important;
}
.contact-btn{
  width:100%;
}
.title-tag {
    margin: 2px 0 15px !important;
}
.content p, .content-sec p {
  line-height: 1.5;
  font-size: 14px;
}
.title{
  margin-bottom:10px;
}
.team-info-card{
  display: block;
}
  
  }
  /**medium device css end**/
  /***small device css start**/
  @media (min-width: 576px) and (max-width: 767.99px) {
    * {
      word-wrap: break-word;
    }

    
    .being-dreamcast, .we-do, .our-team {
        padding: 0px 0;
    }
    .banner-content{

      top: 35%!important;
  }
    .banner-heading span{

      line-height:60px!important;
  }
  .banner-heading span:nth-child(1){
      font-weight: 400!important;
      font-size: 45px!important;
      word-spacing:2px!important;
  }
  .banner-heading span:nth-child(2){
      font-weight: 500!important;
      font-size: 60px!important;
  }
  .banner-heading span:nth-child(3){
      font-weight: 300!important;
      font-size:40px!important;
      word-spacing: 1!important;
  }
  .line{
    margin: 6px auto!important;
  }
  .c-title{
    font-size: 18px!important;
}
.c-line{
    width: 140px !important;;
    height: 2px!important;
    margin:15px auto!important;
}
.c-btn{
    border: 2px solid white!important;
    padding: 5px 15px!important;
    font-size: 14px!important;
}
.contact-section{
  padding:20px 0!important;
}
.contact-card {
  padding: 15px!important;
}
.contact-btn{
  width:100%;
}
.title-tag {
    margin: 2px 0 15px !important;
}
.content p, .content-sec p {
  line-height: 1.5;
  font-size: 14px;
}
.title{
  margin-bottom:10px;
}
.team-info-card{
  display: block;
}
  
  }
  
  /***small device css end**/
  
  /*****extra small device css start***/
  @media (max-width: 575.99px) {
    * {
      word-wrap: break-word;
    }
 
    .being-dreamcast, .we-do, .our-team {
        padding: 0!important;
    }
    .banner-content{

      top: 40%!important;
  }
    .banner-heading span{

      line-height: 45px!important;
  }
  .banner-heading span:nth-child(1){
      font-weight: 400!important;
      font-size: 35px!important;
      word-spacing:2px!important;
  }
  .banner-heading span:nth-child(2){
      font-weight: 500!important;
      font-size: 45px!important;
  }
  .banner-heading span:nth-child(3){
      font-weight: 300!important;
      font-size:30px!important;
      word-spacing: 1!important;
  }
  .line{
    margin: 6px auto!important;
  }
  .c-title{
    font-size: 18px!important;
}
.c-line{
    width: 140px !important;;
    height: 2px!important;
    margin:15px auto!important;
}
.c-btn{
    border: 2px solid white!important;
    padding: 5px 15px!important;
    font-size: 14px!important;
}
.contact-section{
  padding:20px 0!important;
}
.contact-card {
  padding: 15px!important;
}
.contact-btn{
  width:100%;
}
.title-tag {
    margin: 2px 0 15px !important;
}
.content p, .content-sec p {
  line-height: 1.5;
  font-size: 14px;
}
.title{
  margin-bottom:10px;
}
.client-area{
  padding:10px 0;
}
.team-info-card{
  display: block;
}
  }
  /*****extra small device css end***/
  

  @media (min-width: 1400px) {
    .we-do .img-container {
        width: 35% !important;
    }
  }